.loadingGlow {
    animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
    0% {
        opacity: 25%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 25%;
    }
}

.fadeIn {
    animation: fadeIn 100ms ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeSlideDown {
    animation: fadeSlideDown 100ms ease-in-out forwards;
    opacity: 0;
    transform: translateY(-10px);
}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeSlideRight {
    animation: fadeSlideRight 400ms ease-in-out forwards;
    opacity: 0;
    transform: translateX(-100px);
}

@keyframes fadeSlideRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.dropdown {
    animation: fadeScale 75ms ease-in-out forwards;
    opacity: 0;
    transform: scale(0.95);
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
