@import "tailwindcss";

@layer base {
    :root {
        --color-background: #E9E9E9;
        --color-foreground: #171717;

        --color-button-background: #171717;
        --color-button-foreground: #E9E9E9;
        --color-button-background-hover: #2D2D2D;
        --color-button-border: #1F1F1F;
    }
    
    @media (prefers-color-scheme: dark) {
        :root {
            --color-background: #171717;
            --color-foreground: #E9E9E9;
            
            --color-button-background: #1F1F1F;
            --color-button-foreground: #E9E9E9;
            --color-button-background-hover: #282828;
            --color-button-border: #FFFFFF31;
        }
    }
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-poppins);
}

textarea {
    resize: none;
}
